NOTION_API_KEY=NOTION_API_KEY
NOTION_DATABASE_ID=NOTION_DATABASE_ID

REDIS_URL=REDIS_URL
APP_ENV=APP_ENV
LOG_LEVEL=LOG_LEVEL
DATABASE_URL =DATABASE_URL


AZURE_OPENAI_EMB_KEY=AZURE_OPENAI_EMB_KEY
AZURE_OPENAI_LLM_KEY=AZURE_OPENAI_LLM_KEY
AZURE_LLM_ENDPOINT=AZURE_LLM_ENDPOINT
AZURE_EMB_ENDPOINT=AZURE_EMB_ENDPOINT
AZURE_EMB_DEPLOYMENT=AZURE_EMB_DEPLOYMENT
AZURE_LLM_DEPLOYMENT_41_MINI=AZURE_LLM_DEPLOYMENT_41_MINI